@{
    ViewData["Title"] = "Página de Inicio";
}

<h1>Bienvenido a Materiales de Ensamblaje</h1>
<p>Hecho por Mario Gastelu Huarancca</p>
<img src="~/imagenes/sise.jpg" alt="Materiales de ensamblaje" />
