@{
    ViewData["Title"] = "Técnicas de Ensamblaje";
}

<h1>Técnicas de Ensamblaje</h1>
<p>Las técnicas de ensamblaje son procesos utilizados para unir materiales y componentes. Entre las técnicas más comunes se encuentran el remachado, soldadura y pegado con adhesivos.</p>
<p>El remachado es ideal para unir hojas de metal, mientras que la soldadura ofrece una unión permanente y fuerte. El pegado con adhesivos es una técnica moderna que evita la perforación de materiales.</p>
<p>La elección de la técnica adecuada depende de factores como el tipo de material, las condiciones de uso y el costo del proceso.</p>
<img src="~/imagenes/tecnicas de ensamblaje.jpeg" alt="Técnicas de ensamblaje" />

